# Byte-compiled / optimized
_pycache_/
*.py[cod]
*.so

# Virtual environments
env/
venv/
iqac_env/
.venv/

# Django-specific
*.log
*.sqlite3
db.sqlite3
staticfiles/
.env

# Migrations (optional – keep only if you regenerate often)
*/migrations/.py
**/migrations/_pycache_/

# IDEs and editors
.vscode/
.idea/
*.suo
.ntvs
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db
# Backup JSON files (containing secrets)
sqlite_backup.json
clean_backup.json
full_data.json
# Data files
*.json
emt.txt

media/
