beautifulsoup4
dj-database-url
Django
django-allauth
django-debug-toolbar
django-environ
django-extensions
fastapi
pdfkit
pillow
pydantic
pytest
pytest-django
python-dotenv
qrcode
requests
torch
transformers
uvicorn
weasyprint
whitenoise
xhtml2pdf
xlsxwriter
