{% load static %}
{% with file_url=form.instance.file.url|default:'' %}
{% with file_name=form.instance.file.name|default:file_url %}
{% with lower_name=file_name|lower %}
{% if lower_name|slice:"-4:" == '.png' or lower_name|slice:"-4:" == '.jpg' or lower_name|slice:"-5:" == '.jpeg' or lower_name|slice:"-4:" == '.gif' or lower_name|slice:"-5:" == '.webp' %}
    {% with preview_type='image' %}
        {% include 'emt/partials/attachment_block_inner.html' %}
    {% endwith %}
{% else %}
    {% with preview_type='file' %}
        {% include 'emt/partials/attachment_block_inner.html' %}
    {% endwith %}
{% endif %}
{% endwith %}
{% endwith %}
{% endwith %}
