{% extends "base.html" %}
{% load static %}

{% block title %}Expected Outcomes{% endblock %}

{% block head_extra %}
  <link rel="stylesheet" href="{% static 'emt/css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="header">
    <h1>Expected Outcomes for "{{ proposal.event_title }}"</h1>
    <p>Please mention what outcomes are expected from the event</p>
  </div>

  <div class="page-content">
    <form method="post">
      {% csrf_token %}
      <div class="section">
        <h3>Describe the expected outcomes</h3>
        <div class="input-group">
          {{ form.content.label_tag }}
          {{ form.content }}
        </div>
      </div>
      <div class="input-group">
        <button type="submit" class="btn">Save & Continue</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
{% block scripts %}
  <script>
    // This makes the proposalId available to the JS file
    window.PROPOSAL_ID = "{{ proposal.id|default:'' }}";
    window.AUTOSAVE_URL = "{% url 'emt:autosave_proposal' %}";
    window.AUTOSAVE_CSRF = "{{ csrf_token }}";
  </script>
  <script src="{% static 'emt/js/autosave_draft.js' %}"></script>
{% endblock %}
